:root { /* default to dark */
  --window-inactive-opacity:                       0.8;

  --cursor-disabled:                               not-allowed;

  --page-background-color:                         rgb(  47,  47,  55 );
  --page-color:                                    rgb( 215, 215, 215 );
  --page-font:                                     message-box;
  --page-font-size:                                1rem;
  --page-text-shadow:                              rgb(  20,  20,  20 );

/*--body-background-color:                         rgb(  89,  89,  91 ); */
  --body-background-color:                         rgba(100, 100, 110, 0.8);                      

  --title-background-color:                        transparent;
  --title-border-color:                            transparent;
  --title-border-radius:                           0px;
  --title-color:                                   rgb( 175, 228, 228 );
  --title-font-size:                               1.50em;
  --title-font-weight:                             bold;
  --title-line-height:                             1.3em;

  --subtitle-background-color:                     transparent;
  --subtitle-border-color:                         transparent;
  --subtitle-border-radius:                        0px;
  --subtitle-color:                                rgb( 175, 228, 228 );
  --subtitle-font-size:                            1.0em;
  --subtitle-font-weight:                          bold;
  --subtitle-line-height:                          1.0em;

  --heading-color:                                 rgb( 175, 228, 228 );
  --heading-font-size:                             1.0em;
  --heading-font-weight:                           bold;
  --heading-line-height:                           1.0em;

  --instructions-background-color:                 transparent;
  --instructions-border-color:                     transparent;
  --instructions-border-radius:                    transparent;
  --instructions-color:                            rgb( 254, 254, 255 );
  --instructions-font-size:                        0.85rem;
  --instructions-font-weight:                      normal;

  --panel-background-color:                        rgb(  63,  63,  70 );
  --panel-border-color:                            rgb(  35,  35,  39 );

  --message-text-background-color:               transparent; /* rgb( 250, 240, 240 ); */
  --message-text-border:                         NONE; /* 1px solid var(--message-text-color); */
  --message-text-color:                          rgb(  80, 255,  80 );
  --message-text-font:                           inherit;
  --message-text-font-size:                      inherit;
  --message-text-font-weight:                    BOLDER;



  --list-header-item-background-color:           rgb(  80,  80,  84 );
  --list-header-item-border-color:               rgb(  30,  30,  32 );
  --list-header-item-color:                      rgb( 180, 180, 180 );
  --list-header-item-font:                       message-box;
  --list-header-item-font-size:                  1rem;
  --list-header-item-font-weight:                BOLD;
  --list-header-item-shadow-color:               rgb(   0,   0,   0 );
  --list-header-item-text-shadow:                1px 1px var(--list-header-item-shadow-color);

  --list-item-background-color:                  rgb( 110, 110, 114 );
  --list-item-border-color:                      rgb(  20,  50,  50 );
  --list-item-color:                             rgb( 250, 250, 250 );
  --list-item-font:                              message-box;
  --list-item-font-size:                         1rem;

  --list-item-selected-background-color:         rgb(  77, 116, 159 );
  --list-item-selected-border-color:             rgb(  40,  50,  60 );
  --list-item-selected-color:                    rgb( 255, 255, 255 );
  --list-item-selected-text-shadow-color:        rgb(  20,  20,  20 );
  --list-item-selected-text-shadow:              1px 1px var(--list-item-selected-text-shadow-color);

  --list-item-hover-background-color:            rgb(  60, 160, 165 );
  --list-item-hover-background-image:            linear-gradient(rgba(80,80,80,0.6) 20%, rgba(150,150,150,0.8) 80%);
  --list-item-hover-border-color:                rgb( 240, 240, 240 );
  --list-item-hover-color:                       rgb( 255, 255, 255 );
  --list-item-hover-text-shadow-color:           rgb(  20,  20,  20 );
  --list-item-hover-text-shadow:                 1px 1px var(--list-item-hover-text-shadow-color);

  --list-item-disabled-background-color:         rgb(  80,  80,  84 );
  --list-item-disabled-border-color:             rgb(  20,  20,  24 );
  --list-item-disabled-color:                    rgb( 170, 190, 200 );
  --list-item-disabled-text-decoration-color:    rgb(   0,   0,   0 );
  --list-item-disabled-text-decoration-style:    solid;
  --list-item-disabled-text-decoration-line:     line-through;
  --list-item-disabled-text-decoration:          var(--list-item-disabled-text-decoration-line) var(--list-item-disabled-text-decoration-style) var(--list-item-disabled-text-decoration-color);



  --extension-background-color:                    var(--list-item-background-color);
  --extension-border-color:                        var(--list-item-border-color);
  --extension-color:                               var(--list-item-color);
  --extension-font:                                var(--list-item-font);
  --extension-font-size:                           var(--list-item-font-size);
  --extension-text-decoration:                     NONE;

  --extension-access-disallowed-background-color:  rgb(  63,  63,  70 );
  --extension-access-disallowed-border-color:      rgb(  35,  35,  39 );
  --extension-access-disallowed-color:             rgb( 180, 180, 180 );
  --extension-access-disallowed-text-decoration:   NONE;

  --extension-configured-background-color:         rgb(  63,  63,  70 );
  --extension-configured-border-color:             rgb(  35,  35,  39 );
  --extension-configured-color:                    rgb( 110, 205, 205 ); /* rgb( 180, 180, 180 ); */
  --extension-configured-status-dot-border-color:  rgb( 200, 200, 200 );
  --extension-configured-status-dot-color:         rgb(  19, 115, 217 );
  --extension-configured-text-decoration:          NONE;

  --extension-not-configured-status-dot-border-color: rgb( 200, 200, 200 );
  --extension-not-configured-status-dot-color:     var(--extension-background-color);
  --extension-not-configured-text-decoration:      NONE;

  --extension-disabled-background-color:           var(--list-item-disabled-background-color);
  --extension-disabled-border-color:               var(--list-item-disabled-border-color);
  --extension-disabled-color:                      var(--list-item-disabled-color);
/*--extension-disabled-status-dot-border-color:    rgb( 150, 150, 150 ); /* NOT USING */
/*--extension-disabled-status-dot-color:           rgb( 100, 100, 100 ); /* NOT USING */
  --extension-disabled-text-decoration-color:      var(--list-item-disabled-text-decoration-color);
  --extension-disabled-text-decoration-style:      var(--list-item-disabled-text-decoration-style);
  --extension-disabled-text-decoration-line:       var(--list-item-disabled-text-decoration-line);
  --extension-disabled-text-decoration:            var(--extension-disabled-text-decoration-line) var(--extension-disabled-text-decoration-style) var(--extension-disabled-text-decoration-color);
  --extension-disabled-text-shadow-color:          rgb(  20,  20,  20 );
  --extension-disabled-text-shadow:                1px 1px var(--extension-disabled-text-shadow-color);

  --extension-hover-background-color:              var(--list-item-hover-background-color);
  --extension-hover-background-image:              linear-gradient(rgba(80,80,80,0.6) 20%, rgba(150,150,150,0.8) 80%);
  --extension-hover-border-color:                  var(--list-item-hover-border-color);
  --extension-hover-color:                         var(--list-item-hover-color);
  --extension-hover-text-decoration:               NONE;
  --extension-hover-text-shadow-color:             rgb(  20,  20,  20 );
  --extension-hover-text-shadow:                   1px 1px var(--extension-hover-text-shadow-color);

  --extension-selected-background-color:           var(--list-item-selected-background-color);
  --extension-selected-border-color:               var(--list-item-selected-border-color);
  --extension-selected-color:                      var(--list-item-selected-color);
  --extension-selected-text-decoration:            underline solid blue;
  --extension-selected-text-shadow-color:          var(--list-item-selected-text-shadow-color);
  --extension-selected-text-shadow:                1px 1px var(--extension-selected-text-shadow-color);



  --input-background-color:                        rgb( 240, 240, 240 );
  --input-border-color:                            rgb(  40,  40,  40 );
  --input-color:                                   rgb(  20,  20,  20 );
  --input-outline-color:                           transparent;

  --input-focus-background-color:                  rgb( 240, 240, 240 );
  --input-focus-border-color:                      rgb( 240, 240, 240 );
  --input-focus-color:                             rgb(  20,  20,  20 );
  --input-focus-outline-color:                     blue;

  --value-background-color:                        rgb(  66,  66,  70 );
  --value-border-color:                            rgb( 103, 108, 118 );
  --value-color:                                   rgb( 200, 200, 210 );

  --button-background-color:                       transparent; /* rgb( 110, 110, 114 ); */
  --button-border-color:                           rgb( 200, 200, 200 );
  --button-color:                                  rgb( 250, 250, 250 );
  --button-font:                                   message-box;
  --button-font-size:                              1rem;

  --button-disabled-background-color:              rgb( 129, 129, 143 );
  --button-disabled-border-color:                  rgb( 160, 160, 160 );
  --button-disabled-color:                         rgb(  80,  80,  85 );

  --button-hover-background-color:                 rgb(  60, 160, 165 );
  --button-hover-border-color:                     rgb( 240, 240, 240 );
  --button-hover-color:                            rgb( 255, 255, 255 );
  --button-hover-text-shadow-color:                rgb(  20,  20,  20 );
  --button-hover-text-shadow:                      1px 1px var(--button-hover-text-shadow-color);

  --button-selected-background-color:              rgb(  77, 116, 159 );
  --button-selected-border-color:                  rgb(  50,  50,  50 );
  --button-selected-color:                         rgb( 255, 255, 255 );
  --button-selected-text-shadow-color:             rgb(  20,  20,  20 );
  --button-selected-text-shadow:                   1px 1px var(--button-selected-text-shadow-color);

  --button-cancel-background-color:                transparent; /* rgb(  19, 115, 217 ); */
  --button-cancel-color:                           rgb( 250, 250, 250 );
  --button-cancel-disabled-background-color:       rgb( 129, 129, 143 );
  --button-cancel-disabled-color:                  rgb(  80,  80,  85 );
  --button-cancel-hover-background-color:          rgb(  60, 160, 165 );
  --button-cancel-hover-color:                     rgb( 255, 255, 255 );

  --button-save-background-color:                  rgb(  19, 115, 217 );
  --button-save-color:                             rgb( 250, 250, 250 );
  --button-save-disabled-background-color:         rgb( 129, 129, 143 );
  --button-save-disabled-color:                    rgb(  80,  80,  85 );
  --button-save-hover-background-color:            rgb(  28, 131, 228 );
  --button-save-hover-color:                       rgb( 255, 255, 255 );
}

@media (prefers-color-scheme: light) { /*** MABXXX THESE HAVE NOT BEEN KEPT UP-TO-DATE AT ALL!!!!! ***/
  :root {
    --page-color:                                   rgb(  24,  24,  27 );
    --page-text-shadow:                             rgb( 240, 240, 240 );
    --page-background-color:                        rgb( 244, 244, 245 );
    --page-font:                                    message-box;
    --page-font-size:                               1rem;

    --panel-background-color:                       rgb( 199, 199, 203 );
    --panel-border-color:                           rgb(  85,  85,  94 );

    --extension-background-color:                   rgb( 197, 197, 199 );
    --extension-border-color:                       rgb(   0,   0,   0 );
    --extension-color:                              rgb(   0,   0,   0 );
    --extension-font:                               message-box;
    --extension-font-size:                          1rem;

    --extension-access-disallowed-background-color: rgb( 175, 175, 177 );
    --extension-access-disallowed-border-color:     rgb(  90,  90,  90 );
    --extension-access-disallowed-color:            rgb(  90,  90,  90 );

    --extension-selected-background-color:          rgb(  77, 116, 159 );
    --extension-selected-border-color:              rgb( 200, 200, 200 );
    --extension-selected-color:                     rgb( 250, 250, 250 );
    --extension-selected-text-shadow-color:         rgb( 240, 240, 240 );

    --extension-hover-background-color:             rgb(  19, 115, 217 );
    --extension-hover-border-color:                 rgb( 250, 250, 250 );
    --extension-hover-color:                        rgb( 250, 250, 250 );
    --extension-hover-text-shadow-color:            rgb( 240, 240, 240 );

    --button-background-color:                      rgb( 197, 197, 199 );
    --button-border-color:                          rgb(   0,   0,   0 );
    --button-color:                                 rgb(   0,   0,   0 );
    --button-font:                                  message-box;
    --button-font-size:                             1rem;

    --button-text-shadow:                           rgb( 240, 240, 240 ); /* make this obsolete */

    --button-disabled-background-color:             rgb( 175, 175, 177 );
    --button-disabled-border-color:                 rgb(  90,  90,  90 );
    --button-disabled-color:                        rgb(  90,  90,  90 );

    --button-hover-background-color:                rgb(  19, 115, 217 );
    --button-hover-border-color:                    rgb( 250, 250, 250 );
    --button-hover-color:                           rgb( 250, 250, 250 );
    --button-hover-text-shadow-color:               rgb( 240, 240, 240 );

    --button-selected-background-color:             rgb(  77, 116, 159 );
    --button-selected-border-color:                 rgb( 200, 200, 200 );
    --button-selected-color:                        rgb( 250, 250, 250 );
    --button-selected-text-shadow-color:            rgb( 240, 240, 240 );

    --button-cancel-color:                          rgb( 250, 250, 250 );
    --button-cancel-background-color:               rgb(  19, 115, 217 );
    --button-cancel-hover-color:                    rgb( 255, 255, 255 );
    --button-cancel-disabled-color:                 rgb(  90,  90,  90 );
    --button-cancel-disabled-background-color:      rgb( 175, 175, 177 );
    --button-cancel-hover-background-color:         rgb(  28, 131, 228 );

    --instructions-color:                           rgb(   5,   5,   6 );
  }
}

@media (prefers-color-scheme: dark) {
  :root { /* using defaults (above) */
  }
}

:root { /* FOR TESTING */
}

@media (prefers-reduced-motion: no-preference) {
  .action-buttons label {
    transition: background-color .15s, border-color .15s
  }
}
