/* Statistics Manager styles */

@import url("../styles/theming.css");

html, body {
  background-color: var(--page-background-color);
  color:            var(--page-color);
  font:             var(--page-font);
  font-size:        var(--page-font-size);
  height:           100%;
  padding:          8px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select:    none; /* Firefox */
  -ms-user-select:     none; /* IE10+/Edge */
  user-select:         none; /* Standard */
}

body {
  background-color: var(--body-background-color);
  height:           100%;
}

.compact-list {
  margin: 0;
  padding: 0px 0px 0px 1.0em;
}

.compact-list > li {
}

input[type="checkbox"].open-close-check {
  display: none;
}

input[type="checkbox"].open-close-check + label {
  background-repeat: no-repeat;
  border:            NONE;                    
  cursor:            pointer !important;
  height:            10px;
  width:             10px;
  display:           inline-block;
  padding:           0px;;
}

input[type="checkbox"].open-close-check:checked + label {
  background-image:  url("../images/icons/light-gray-triangle-outline-down_10x10.png") !important;
}

input[type="checkbox"].open-close-check:not(checked) + label {
  background-image:  url("../images/icons/light-gray-triangle-outline-right_10x10.png") !important;
}

.options-open-close-panel {
/*background-color: var(--panel-background-color);*/
/*border:           1px solid var(--panel-border-color);*/
/*border-radius:    5px;*/
  margin-left:      12px;
/*padding:          4px;*/
}

#fsbStatsManager {
  height: 100%;
  margin: 0.8em auto;
  width:  100%;

  /* grid layout */

  display:    grid;
  column-gap: 2px;
  row-gap:    0px;
  grid-template-areas:
    "title          title           title"
    "messages       messages        messages"
    "instructions   instructions    instructions"
    "left-spacer    list-wrapper    right-spacer"
    "left-spacer    controls-panel  right-spacer"
    "bottom-spacer  bottom-spacer   bottom-spacer";

  grid-template-columns: auto max-content auto;
  grid-template-rows:    min-content min-content auto min-content min-content;

  & #fsbStatsManagerTitlePanel {
    grid-area: title;
  }

  & #fsbStatsManagerTitleMessagesPanel {
    grid-area: messages;
  }

  & #fsbStatsManagerInstructionsPanel {
    grid-area: instructions;
  }

  & #fsbStatsManagerDirectoryListWrapper {
    grid-area: list-wrapper;
  }

  & #fsbStatsManagerControlsPanel {
    grid-area: controls-panel
  }

  & #fsbStatsManagerLeftSpacer {
    grid-area: left-spacer;
  }

  & #fsbStatsManagerRightSpacer {
    grid-area: right-spacer;
  }

  & #fsbStatsManagerBottomSpacer {
    grid-area:  bottom-spacer;
  }
}

#fsbStatsManagerTitlePanel {
  background-color: var(--title-background-color);
  border:           1px solid var(--title-border-color);
  border-radius:    var(--title-border-radius);
  color:            var(--title-color);
  font-size:        var(--title-font-size);
  font-weight:      var(--title-font-weight);
  line-height:      var(--title-line-height);
  padding:          0.25em 1.0em;
  text-align:       left;
}

#fsbStatsManagerTitleMessagesPanel { /* see .messages-panel */
  margin-left:      2.0em;
}

#fsbStatsManagerInstructionsPanel {
  margin-top:       0.0em;
  margin-left:      2.0em;
}

#fsbStatsManagerInstructions {
  background-color: var(--instructions-background-color);
  border:           1px solid var(--instructions-border-color);
  border-radius:    var(--instructions-border-radius);
  color:            var(--instructions-color);
  font-size:        var(--instructions-font-size);
  font-weight:      var(--instructions-font-weight);
  margin-left:      1.0em;
}



#fsbStatsManagerDirectoryListWrapper { /* this is a <DIV> */
  background-color: var(--panel-background-color);
  border:           1px solid var(--panel-border-color);
  border-radius:    10px;
  margin:           12px;
  overflow-x:       hidden;
  overflow-y:       auto;
  padding:          0.5em 1.0em 0.5em 1.0em;
}

#fsbStatsManagerDirectoryList { /* this is a <TABLE> */
  border-radius:    10px;
  border-collapse:  separate;
  border-spacing:   2px 0px;
  margin-right:     20px;
  overflow-x:       hidden;
  overflow-y:       auto;
  -moz-appearance:  none;
}

.messages-panel {
  display: NONE;

  background-color: var(--message-panel-background-color);
  border:           var(--message-panel-border);
  border-radius:    var(--message-panel-border-radius);
  color:            var(--message-panel-color);
  font-size:        var(--message-panel-font-size);
  font-weight:      var(--message-panel-font-weight);
  line-height:      var(--message-panel-line-height);
  margin-left:      0.5em;
  margin-bottom:    0.5em;
  padding:          0.25em 1.0em;
  text-align:       left;
}

.messages-panel:has([msg="true"],[error="true"]) {
  display: BLOCK;
}

.stats-msg {
  display: NONE;

  background-color: var(--message-text-background-color);
  border:           var(--message-text-border);
  color:            var(--message-text-color);
  font:             var(--message-text-font);
  font-size:        var(--message-text-font-size);
  font-weight:      var(--message-text-font-weight);
  text-shadow:      var(--message-text-text-shadow);
}

.stats-msg[msg="true"] {
  display:        flex;
  flex-direction: row;
}

.stats-msg-icon-large {
  height:         16px;
  max-height:     16px;
  max-width:      16px;
  vertical-align: middle;
  width:          16px;
}

.stats-msg-icon {
  height:         8px;
  max-height:     8px;
  max-width:      8px;
  vertical-align: middle;
  width:          8px;
}

.stats-msg-text {
  margin-left: 0.25em;
}




.stats-error {
  display: NONE;

  background-color: var(--error-text-background-color);
  border:           var(--error-text-border);
  color:            var(--error-text-color);
  font:             var(--error-text-font);
  font-size:        var(--error-text-font-size);
  font-weight:      var(--error-text-font-weight);
  text-shadow:      var(--error-text-text-shadow);
}

.stats-error[error="true"] {
  display:        flex;
  flex-direction: row;
}

.stats-error-icon-large {
  height:         16px;
  max-height:     16px;
  max-width:      16px;
  vertical-align: middle;
  width:          16px;
}

.stats-error-icon {
  height:         8px;
  max-height:     8px;
  max-width:      8px;
  vertical-align: middle;
  width:          8px;
}

.stats-error-text {
  margin-left: 0.25em;
}



.directory-list-header { /* <TH>  Directory List Header Row */
  background-color: var(--list-header-item-background-color);
  border:           none;
  color:            var(--list-header-item-color);
  cursor:           default;
  font:             var(--list-header-item-font);
  font-size:        var(--list-header-item-font-size);
  font-weight:      var(--list-header-item-font-weight);
  padding:          0.5em 1.1em;
  text-align:       center;
  text-decoration:  none;
  text-shadow:      1px 1px var(--list-header-item-shadow-color);
  white-space:      nowrap;
  width:            100%;
  -moz-appearance:  none;

  & > .list-header-data { /* <TH>  Directory List Header Row */
    &.header-name { /* <TH>  Directory List Header Row */
    }

    &.header-ext-id { /* <TH>  Directory List Header Row */
    }

    &.header-count-children { /* <TH>  Directory List Header Row */
    }

    &.header-count-regular { /* <TH>  Directory List Header Row */
    }

    &.header-count-directory { /* <TH>  Directory List Header Row */
    }

    &.header-count-other { /* <TH>  Directory List Header Row */
    }

    &.header-count-unknown { /* <TH>  Directory List Header Row */
    }

    &.header-count-error { /* <TH>  Directory List Header Row */
    }

    &.header-time-creation-earliest { /* <TH>  Directory List Header Row */
    }

    &.header-time-creation-latest { /* <TH>  Directory List Header Row */
    }

    &.header-time-last-accessed-earliest { /* <TH>  Directory List Header Row */
    }

    &.header-time-last-accessed-latest { /* <TH>  Directory List Header Row */
    }

    &.header-time-last-modified-earliest { /* <TH>  Directory List Header Row */
    }

    &.header-time-last-modified-latest { /* <TH>  Directory List Header Row */
    }

    &.header-size-smallest { /* <TH>  Directory List Header Row */
    }

    &.header-size-largest { /* <TH>  Directory List Header Row */
    }

    &.header-size-totel { /* <TH>  Directory List Header Row */
    }
  }
}


.directory-list-item { /* this is a <TR> */
  background-color: transparent !important;

  border:           none; /* MABXXX !important;*/

  font:             var(--list-item-font);
  font-size:        var(--list-item-font-size);
  padding:          0.75em 1.1em;
  text-align:       left;
  text-decoration:  NONE;
  text-shadow:      none;
  white-space:      nowrap;
  width:            100%;
  -moz-appearance:  none;
}

.directory-list-item > :first-child {
  border-bottom-left-radius: 5px;
  border-left:               1px solid; /* var(--list-item-border-color) !important; */
  border-top-left-radius:    5px;
}

.directory-list-item > :last-child {
  border-bottom-right-radius: 5px;
  border-right:               1px solid; /* var(--list-item-border-color) !important; */
  border-top-right-radius:    5px;
}

.list-item-data { /* this is a <TD> */
  background-color: var(--list-item-background-color);
  border-bottom:    1px solid;
  border-top:       1px solid;
  border-color:     var(--list-item-border-color) !important;
  color:            var(--list-item-color);
  margin:           0 0.5em;
  padding:          0.1em 0.5em;
  text-decoration:  var(--list-item-text-decoration);
  white-space:      nowrap;
  -moz-appearance:  none;
}

.list-item-name { /* .directory-list-item > .list-item-ame - this is a <TD> */
  text-align: left;
  width:      auto;
}

.list-item-count {
  text-align: right;
  width:      auto;

  &.count-children {
  }
  &.count-regular {
  }
  &.count-directory {
  }
  &.count-other {
  }
  &.count-unknown {
  }
  &.count-error {
  }
}

.list-item-time {
  text-align: left;
  width:      center;

  &.time-child-creation-earliest {
  }
  &.time-child-creation-latest {
  }
  &.time-child-last-accessed-earliest {
  }
  &.time-child-last-accessed-latest {
  }
  &.time-child-last-modified-earliest {
  }
  &.time-child-last-modified-latest {
  }
}

.list-item-size {
  text-align: right;
  width:      auto;

  &.size-smallest {
  }
  &.size-largest {
  }
  &.size-total {
  }
}

tr.directory-list-item.selected > td.list-item-data {
  background-color: var(--list-item-selected-background-color);
  border-color:     var(--list-item-selected-border-color);
  color:            var(--list-item-selected-color); /* MABXXX PROBLEM!!! */
  text-shadow:      1px 1px var(--list-item-selected-text-shadow-color);
}

tr.directory-list-item:hover > td.list-item-data {
  background-color: var(--list-item-hover-background-color);
  background-image: var(--list-item-hover-background-image);
  border-color:     var(--list-item-hover-border-color);
  color:            var(--list-item-hover-color); /* MABXXX PROBLEM!!! */
  text-shadow:      1px 1px var(--list-item-hover-text-shadow-color);
}



tr.directory-list-item.selected > td.list-item-data { /* selected & not configured MABXXX ??? */
  text-decoration:  var(--list-item-selected-text-decoration);
}



#fsbStatsManagerControlsPanel {
  margin-top:   2px;

  /* grid layout */

  display:               grid;
  column-gap:            4px;
/*row-gap:               0px; */
  grid-template-areas:   "button-panel right-spacer";
  grid-template-columns: max-content auto;

  & #fsbStatsManagerControlsButtonPanel {
    grid-area: button-panel;
  }
  & #fsbStatsManagerControlsPanelSpacerRight {
    grid-area: right-spacer;
  }
}

#fsbStatsManagerControlsPanel {
  margin-top:   5px;
  margin-left:  20px;
  margin-right: 20px;
}

#fsbStatsManagerControlsButtonPanel {
}

#fsbStatsManagerBottomSpacer {
  height:     40px;
  min-height: 40px;
}



/* Anything done with non-specific selectors can be influenced
 * by outsiders, e.g. userChrome.css, userContent.css
 */
#fsbStatsManager button {
  background-image: NONE !important;
  border:           1px solid transparent;
  border-radius:    0.5em;
  cursor:           pointer;
  font:             var(--menu-font);
  font-size:        var(--menu-font-size);
  font-size:        1em;
  height:           1.5em;
  margin:           0;
  padding:          0.8em 1.1em;
  text-align:       left;
  text-decoration:  none;
  text-shadow:      none;
  -moz-appearance:  none;
}

#fsbStatsManager button:not([disabled]) {
  background-color: var(--button-background-color);
  border-color:     var(--button-border-color);
  color:            var(--button-color);
}

#fsbStatsManager button[disabled] {
  background-color: var(--button-disabled-background-color);
  border-color:     var(--button-disabled-border-color);
  color:            var(--button-disabled-color);
  cursor:           var(--cursor-disabled);
}

#fsbStatsManager button:not([disabled]):hover {
  background-color: var(--button-hover-background-color);
  background-image: NONE !important;
  border-color:     var(--button-hover-border-color);
  color:            var(--button-hover-color);
  text-shadow:      1px 1px var(--button-hover-text-shadow-color);
}

button#fsbStatsManagerDoneButton:not([disabled]) {
  background-color: var(--button-cancel-background-color);
  color:            var(--button-cancel-color);
}

button#fsbStatsManagerDoneButton[disabled] {
  background-color: var(--button-cancel-disabled-background-color);
  color:            var(--button-cancel-disabled-color);
}

button#fsbStatsManagerDoneButton:not([disabled]):hover {
  background-color: var(--button-cancel-hover-background-color);
  background-image: NONE !important;
  border-color:     var(--button-cancel-hover-color);
  color:            var(--button-cancel-hover-color);
}

button#fsbStatsManagerDeleteButton:not([disabled]) {
  background-color: var(--button-save-background-color);
  color:            var(--button-save-color);
}

button#fsbStatsManagerDeleteButton[disabled] {
  background-color: var(--button-save-disabled-background-color);
  color:            var(--button-save-disabled-color);
}

button#fsbStatsManagerDeleteButton:not([disabled]):hover {
  background-color: var(--button-save-hover-background-color);
  background-image: NONE !important;
  border-color:     var(--button-save-hover-color);
  color:            var(--button-save-hover-color);
}


input:is([type="checkbox"], [type="radio"]):not([disabled]) { /* any checkbox */
  cursor: pointer;
  & ~ label[for] {
    cursor: pointer;
  }
}
input:disabled {
  cursor:           var(--cursor-disabled);
}

#fsbStatsManager :is(button, input, select, th, tr, td, table, ol, li, input[type="checkbox"] ~ label):-moz-window-inactive {
  opacity: var(--window-inactive-opacity);
}
